<div ng-include="'templates/header.html'"></div>

<div id="container">    <!-- Start : container -->

    <div ng-include="'templates/sidebar.html'"></div>

    <div id="content">  <!-- Start : Inner Page Content -->

        <div class="container"> <!-- Start : Inner Page container -->

            <div class="crumbs">    <!-- Start : Breadcrumbs -->
                <ul id="breadcrumbs" class="breadcrumb">
                    <li class="current">
                        <i class="fa fa-home"></i>Dashboard
                    </li>
                </ul>
            </div>  <!-- End : Breadcrumbs -->


            <div class="page-header">   <!-- Start : Page Header -->
                <div class="page-title">
                    <h3>Dashboard</h3>
                </div>
            </div>  <!-- End : Page Header -->
            

            <div class="row">
                <div class="col-md-12">  <!-- For Dashboard Staters -->
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="dashboard-stat blue">
                            <div class="visual">
                                <i class="fs-user-4"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    {{questionCount}}
                                </div>
                                <div class="desc">                                  
                                    Questions
                                </div>
                            </div>
                            <a class="more" href="#/question">
                                View All <i class=" fs-arrow-right-2"></i>
                            </a>                        
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="dashboard-stat green">
                            <div class="visual">
                                <i class="fs-cart"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    {{userCount}}
                                </div>
                                <div class="desc">                                  
                                    Users
                                </div>
                            </div>
                            <a class="more" href="#/user">
                                Check All <i class="fs-arrow-right-2"></i>
                            </a>                        
                        </div>
                    </div>
                    
                </div>  <!-- END : Dashboard Staters -->
                
            </div>
            
        </div>  <!-- End : Inner Page container -->
        <a href="javascript:void(0);" class="scrollup">Scroll</a>
    </div>  <!-- End : Inner Page Content -->
</div>  <!-- End : container -->
