<div ng-include="'templates/header.html'"></div>

<div id="container">    <!-- Start : container -->

    <div ng-include="'templates/sidebar.html'"></div>

    <div id="content">  <!-- Start : Inner Page Content -->

        <div class="container"> <!-- Start : Inner Page container -->

            <div class="crumbs">    <!-- Start : Breadcrumbs -->
                <ul id="breadcrumbs" class="breadcrumb">
                    <li class="current">
                        <i class="fa fa-home"></i>Question Type
                    </li>
                </ul>
            </div>  <!-- End : Breadcrumbs -->


            <!-- Start : Page Header -->
            <div class="page-header">   
                <div class="page-title">
                    <h3>Question Type</h3>
                </div>
            </div>  
            <!-- End : Page Header -->
            
            <!-- For Dashboard Staters -->
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-table"></i>
                                Question Type
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover DynamicTable">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Question Count</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="type in types" >
                                            <td>{{type.title}}</td>
                                            <td>{{type.question_coun}}</td>
                                            <td>
                                                <a href="javascript:void(0);">
                                                    <i class="fa fa-times" ></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
            <!-- END : Dashboard Staters -->
            
        </div>  <!-- End : Inner Page container -->
        <a href="javascript:void(0);" class="scrollup">Scroll</a>
    </div>  <!-- End : Inner Page Content -->
</div>  <!-- End : container -->
