<div id="sidebar" class="sidebar-fixed">    <!-- Start : Side bar -->
    <div id="sidebar-content">  <!-- Start : Side bar content -->
        <ul id="nav">   <!-- Start : Side bar Menu Items -->
            <li>
                <a href="#/home">
                    <i class="fa fa-dashboard"></i> Dashboard 
                </a>
            </li>
            <li>
                <a href="#/user">
                    <i class="fa fa-users"></i> Users 
                </a>
            </li>
            <!-- <li>
                <a href="#/questiontype">
                    <i class="fa fa-check-square-o"></i> Question Types
                </a>
            </li> -->
            <li>
                <a href="#/topics">
                    <i class="fa fa-list-alt"></i> Topics
                </a>
            </li>
            <li>
                <a href="#/question">
                    <i class="fa fa-question-circle"></i> Questions
                </a>
            </li>
        </ul>   <!-- End : Side bar Menu Items -->
    </div>  <!-- End : Side bar content -->
</div>  <!-- End : Side bar -->