<div ng-include="'templates/header.html'"></div>

<div id="container">    <!-- Start : container -->

    <div ng-include="'templates/sidebar.html'"></div>

    <div id="content">  <!-- Start : Inner Page Content -->

        <div class="container"> <!-- Start : Inner Page container -->

            <div class="crumbs">    <!-- Start : Breadcrumbs -->
                <ul id="breadcrumbs" class="breadcrumb">
                    <li class="current">
                        <i class="fa fa-home"></i>User
                    </li>
                </ul>
            </div>  <!-- End : Breadcrumbs -->


            <!-- Start : Page Header -->
            <div class="page-header">   
                <div class="page-title">
                    <h3>User</h3>
                </div>
            </div>  
            <!-- End : Page Header -->
            
            <!-- For Dashboard Staters -->
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-table"></i>
                                Users
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover DynamicTable">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Gender</th>
                                            <th>Country</th>
                                            <th>DOB</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="user in users" >
                                            <td>{{user.fullname}}</td>
                                            <td>{{user.email}}</td>
                                            <td>{{user.gender}}</td>
                                            <td>{{user.country}}</td>
                                            <td>{{user.dob}}</td>
                                            <td> 
                                                <a href="javascript:void(0);" ng-click="removeUser(user._id)" ><i class="fa fa-times" ></i></a>
                                                <a href="javascript:void(0);" ng-click="loadUserQuestion(user._id)" ><i class="fa fa-share-square" ></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
            <!-- END : Dashboard Staters -->
            
        </div>  <!-- End : Inner Page container -->
        <a href="javascript:void(0);" class="scrollup">Scroll</a>
    </div>  <!-- End : Inner Page Content -->
</div>  <!-- End : container -->



<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Scores</h4>
        </div>
        <div class="modal-body" style="max-height:400px; overflow:auto !important;" >
            <div class="table-responsive">
                <table class="table table-bordered table-hover DynamicTable">
                    <thead>
                        <tr>
                            <th>Question</th>
                            <th>Card1</th>
                            <th>Card2</th>
                            <th>Position</th>
                            <th>Points</th>
                            <th>Answer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="result in scores" >
                            <td>{{result.question}}</td>
                            <td>{{result.card1}}</td>
                            <td>{{result.card2}}</td>
                            <td>{{result.position}}</td>
                            <td> 
                                <span ng-if="result.isTrue==true" >+1</span> 
                                <span ng-if="result.isFalse==true" >-1</span> 
                            </td>
                            <td>{{result.answer}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
        </div>
    </div>
  </div>
</div>